<!-- templates/modifier_formation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une Formation</title>
</head>
<body>
    <h1>Modifier la Formation "{{ formation.nom }}"</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer les modifications</button>
    </form>

    <a href="{% url 'liste_formations' %}">Retour à la liste des formations</a>
</body>
</html>
